body {
    background: #F8F8F8 !important;
}

.navbar {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    /* background-color: #396afc !important; */ 
}

.img-profile-max {
    max-width: 200px !important;
}

.bwhite-lg {
    background-color: rgba(0,0,0,.07) !important;
    color: black !important;
    width: 100px !important;
}

.bwhite-xl {
    background-color: rgba(0,0,0,.07) !important;
    color: black !important;
    width: 200px !important;
}

.bwhite-sm {
    background-color: rgba(0,0,0,.07) !important;
    color: black !important;
    width: 40px !important;
}


.comment_box {
    display: none;
}
