{% extends 'base.html' %}
{% load static %}

{% block title %}
home
{% endblock title %}

{% block content %}
{{hello}}
<p>{{user}}</p>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("working from home.html")
    }, false);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
{% endblock scripts %}
